#header {
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 7px 6px -6px black;
}

.header-top {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  display: none;
}

.header-logo img {
  width: 15rem;
  height: auto;
  padding: 0.2rem;
}

.search-filter {
  width: 20rem;
}

.btn-nav-call {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.ant-dropdown {
  z-index: 9999 !important;
  background-color: rgb(199, 199, 199) !important;
}

.menu-call {
  padding: 0.5rem;
  width: 20rem;
}

.menu-call h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #005772;
  font-size: 1rem;
}

.ant-divider-horizontal {
  margin: 5px 0 !important;
  background: #005772 !important;
}

.menu-call-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-call-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.menu-call-2 .menu-call-2-in {
  
}

.menu-call-2 .menu-call-2-in p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-call-2 span:last-child {
  width: 40%;
  text-align: center;
}


.nav-item {
  display: flex;
  align-items: center;
  margin: 0 2rem;  
}

.nav-item-cart {
  position: absolute;
  display: flex;
  align-items: center;
}

.nav-item-legenda {
  font-size: 1rem;
  max-width: 6rem;
  margin: 0.5rem;
}

.menu-container {
  background-image: linear-gradient(50deg, #7dd9f5, #005772);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 8rem;
  z-index: 999;
}

.menu-item {
  font-size: 1rem;
  color: #fff;
  margin: 0 1rem;
  transition: all ease 0.3s;
}

.menu-item-active {
  color: #fff;
  border-bottom: 1px solid #ffa500;
}

.menu-item:hover {
  color: #ffa500;
}

.sidebar-item {
  display: none;
}

.atend {
  display: none;
}

.menu-filter-container {
  width: 100%;
  height: 16.5rem;
  background-color: #7dd9f5;
  z-index: 9999;
  position: absolute;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  transition: all ease 0.3s;
}

.filter-hide {
  display: none;
}

.wrapper-surf-options {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 15vw;
}

.wrapper-surf-options .surf-options {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.wrapper-surf-options .surf-options .surf-options-link {
  font-size: 0.9rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.wrapper-surf-options .surf-options .surf-options-link:hover {
  transform: translateX(1.125rem);
}

.wrapper-surf-options .surf-image {
  width: 40rem;
  height: 16.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
}

.wrapper-surf-options .surf-image:hover {
  transform: scale(1.02);
}

.wrapper-content-genre {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: 0 15vw;
}

.wrapper-content-genre .header-genre {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  color: #ffa500 !important;
}

.wrapper-content-genre .subtitle-vest {
  display: flex;
  flex-direction: column;
}

.wrapper-content-genre .subtitle-vest-link {
  font-size: 0.9rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.wrapper-content-genre .subtitle-vest-link:hover {
  transform: translateX(1.125rem);
}

.wrapper-content-genre .img-genre {
  width: 30rem;
  height: 16rem;
  padding: 0.5rem 0;
  cursor: pointer;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
}

.wrapper-content-genre .img-genre:hover {
  transform: scale(1.02);
}

.wrapper-content-calcado {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  margin: 3rem 15vw;
}

.wrapper-calcado {
  display: flex;
  flex-direction: column;
}

.wrapper-calcado .header-calcado {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ffa500 !important;
}

.wrapper-calcado .subtitle-calc {
  display: flex;
  flex-direction: column;
  color: #ffa500 !important;
}

.wrapper-content-calcado .subtitle-calc-link {
  font-size: 1rem;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.wrapper-content-calcado .subtitle-calc-link:hover {
  transform: translateX(1.125rem);
}

.down {
  margin-left: 5px;
  font-size: 1.2rem !important;
  display: none;
}

.surf-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.navbar-mobile-surf {
  display: none;
}

.closeNavbar {
  display: none;
}

@media (max-width: 1020px) {
  .navbar {
    display: flex;
    z-index: 999;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .closeNavbar {
    display: flex;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .navbar:hover {
    color: #ffa500;
  }

  .btn-nav-call, .login {
    display: none;
  }

  .menu-container {
    background-color: #0080a8;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all ease-in-out 0.4s;
    flex-direction: column;
    padding: 0;

    display: flex;
    align-items: center;
  }

  .menu-container.active {
    left: 0;
    transition: all ease-in-out 1s;
  }

  .sidebar-top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }

  .menu-item {
    position: relative;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  .menu-item:hover {
    background-color: #7dd9f5;
    color: #fff;
  }

  .menu-item-active {
    background-color: #7dd9f5;
    border-bottom: none;
  }

  .down {
    position: absolute;
    font-size: 1.5rem;
    margin-top: 0.2rem;
    right: 1rem;
    display: flex;
  }

  .menu-item:hover .down {
    display: flex;
  }
  
  .atend {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    z-index: 99999;
    background: transparent !important;
    color: #fff !important;
    border: none;
    font-size: 1.2rem;
  }

  .nav-item-legenda {
    font-size: 1.2rem;
    max-width: 100%;
    /* margin-left: 5px; */
  }

  .menu-item-active {
    color: #fff;
  }

  .menu-filter-container {
    display: none;
  }

  .menu-item-active .down  {
    display: flex; 
  }

  .navbar-mobile-surf, .navbar-mobile-masc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    background: #7dd9f5;
    top: 0;
    right: -10rem;
    width: 10rem;
  }

  .navbar-mobile-surf .navbar-mobile-surf-options {
    font-size: 1rem;
    margin: 10px 0;
  }

}

@media (max-width: 680px) {
  .search-filter {
    width: 20rem;
  }
}

@media (max-width: 600px) {
  .carrinho-legenda {
    display: none;
  }
}

@media (max-width: 620px) {
  .header-top {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .header-logo {
    margin-bottom: 0.5rem;
  }

  .navbar {
    position: fixed;
    top: 2rem;
    left: 1.5rem;
  }
}

@media (max-width: 380px) {
  .search-filter {
    width: 17rem;
  }
}

