.details-wrapper {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 5rem;
}

.gallery-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.big-img {
  height: auto;
  max-width: 400px;
  object-fit: cover;
  cursor: -webkit-zoom-in;
  background-repeat: no-repeat;
}

figure {
  height: auto;
  max-width: 400px;
  background-repeat: no-repeat;
  object-fit: cover;
}

figure:hover img {
  opacity: 0;
}

.thumb {
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 3px;
}

.thumb img {
  opacity: 0.8;
  height: 5rem;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

.thumb .slick-track {
  width: 5.5rem;
  height: auto !important;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid #0080a8;
}

.details-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 2rem;
}

.details-content h5 {
  color: #ffa500;
}

.details-content .btn-favorite-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.details-content .title-and-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.details-content .title-product {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #0080a8;
}

.details-content .title-product .heart {
  font-size: 1.2rem !important;
  margin-left: 8px !important;
}

.details-content .price-product {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #0080a8;
}

.details-content .priceSaleProduct span {
  display: flex;
  font-size: 0.9rem;
  margin-right: 5px;
}

.details-content .priceSaleProduct span p {
  text-decoration: line-through;
  margin-left: 5px;
}

.details-content .priceSaleProduct p {
  display: flex;
  align-items: center;
  margin-bottom: 0em;
}

.details-content .btn-buy {
  max-width: 450px;
  padding: 1rem 0;
}

.details-content .btn-buy button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  width: 180px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  background-image: linear-gradient(50deg, #61d4f7, #003d50);
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.details-content .btn-buy button:hover {
  background-image: linear-gradient(50deg, #003d50, #61d4f7);
}

.details-content .composition-product p {
  padding: 30px 0;
}

.details-content .info-product {
  padding: 1rem 0;
  max-width: 400px;
}

.details-content .info-product h3 {
  color: #0080a8;
}


.details-content .info-product p:nth-child(1) {
  margin-bottom: 0;
  font-family: Inter, sans-serif !important;
}

.details-content .info-product p:nth-child(2) {
  margin-bottom: 0;
  font-family: Inter, sans-serif !important;
}

.details-content .info-product p:nth-child(3) {
  margin-bottom: 0;
  font-family: Inter, sans-serif !important;
}

.sizes-btn li {
  display: flex;
}
.sizes-btn ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sizes-btn ul li {
  border: 1px solid rgb(16, 179, 238);
  display: block;
  padding: 1px 5px;
  border-radius: 1rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.sizes-btn ul li.active,
.sizes-btn ul li.active:hover {
  color: rgb(16, 179, 238);
  border-color: rgb(16, 179, 238);
  background-color: rgba(255, 165, 0, 0.2);
}

.sizes-btn ul li.disabled {
  opacity: 0.5;
}

.sizes-btn ul li.disabled:hover {
  cursor: default;
}


.colors-product span {
  display: flex;
  margin: 0.7rem 0;
}

.colors-product span .color-text-selected {
  color: rgb(16, 179, 238);
  font-weight: 700;
  margin-left: 5px;
}

.colors-thumb {
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  cursor: pointer;
  margin: 10px 0;
}

.colors-thumb img {
  opacity: 0.7;
  height: 5rem;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.colors-thumb img.active {
  opacity: 1;
  border: 1px solid rgb(16, 179, 238);
}

.cart-btn {
  width: 270px;
  height: 20px;
  color: #fff;
}

.description p {
  font-family: Inter, sans-serif !important;
}

@media (max-width: 768px) {
  .details-wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery-img {
    flex-direction: column-reverse;
    margin: 1rem;
  }

  .thumb {
    width: 60%;
    flex-direction: row;
  }

  .colors-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .thumb .slick-track {
    width: 20rem !important;
  }
}

@media (max-width: 600px) {
  .details-wrapper {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .big-img {
    max-width: 350px;
  }
  
  figure {
    max-width: 350px;
  }

  .details-content {
    margin: 1rem;
  }
}

@media (max-width: 325px) {
  .big-img {
    max-width: 300px;
  }
  
  figure {
    max-width: 300px;
  }
}


