.box {
    display: flex;
    border: 1px solid #0080a8;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}

@media(max-width: 850px) {
    .box {
        flex-direction: column;
    }
}

@media(max-width: 380px) {
    .box {
        padding: 3rem;
    }
}



