.wrapper-carousel-landing {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.wrapper-carousel-landing .image-next {
    width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
}

@media (max-width: 760px) {
    .wrapper-carousel-landing .image-next {
        height: auto;  
    }
}



