.carouselHome {
  margin-top: 0.5rem;
  max-width: 1200px;
}

.carousel.carousel-slider .control-arrow {
  border-radius: 0.5rem !important;
}

.wrapper-carousel-landing {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper-carousel-landing .image-next {
  width: 100%;
  object-fit: cover;
}

.wrapper-carousel-landing  img {
  border-radius: 0.5rem !important;
}

@media (max-width: 760px) {
  .wrapper-carousel-landing .image-next {
    height: auto;
  }
}

/* 
.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 750px; 
  width: auto;
} */
