.card-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.card-wrapper:active,
.card-wrapper:hover,
.card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  background-color: rgba(0, 128, 168, 0.045);
  width: 250px;
  height: 355px;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.10);
}

.card .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.1rem;
}

.card .card-image img {
  width: 250px;
  height: 230px;
  object-fit: contain;
}

.card .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.card .details .title-card {
  color: #0080a8;
  font-size: 0.7rem;
  width: 85%;
  font-weight: 600;
  margin-bottom: 0;
  align-items: center;
  transition: all  ease-in-out 0.2s;
}

.card .details .title-card:hover {
  color: #ffa500;
}

.card .details .price .priceSale {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.card .details .price p {
  font-size: 1rem;
  margin-bottom: 0 !important;
  font-weight: 600;
  margin-top: 0.2rem;
  color: #ffa500;
}

.card .details .price .priceSale .firstPrice {
  margin-right: 0.6rem;
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: 500;
}

.card .details .price .priceSale .promoPrice {
  font-weight: 700;
}

.card .details .installment-owl {
  margin-top: 0.3rem;
  font-size: 0.777rem;
  max-width: 200px;
  /* text-align: center; */
}

.card .details .installment-owl strong {
  font-weight: 700;
}

.spinner-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}

.slick-list {
  height: 380px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 2rem;
  color: #0080a8;
}

.slick-prev {
  left: -31px !important;
}




