.container-padding-bottom {
  margin: 50px 100px;
  width: calc(80vw - 200px);
}

.card-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.react-multiple-carousel__arrow {
  position: absolute;
  margin: auto -1rem;
}

.card-wrapper:active,
.card-wrapper:hover,
.card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  position: relative;
  width: 200px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card .card-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #000;
  transition: 0.5s;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.card:hover .card-image {
  transform: translateY(-110px);
  transition: all 0.9s ease;
}

.details {
  text-align: center;
  position: absolute;
  bottom: 400px;
  left: 0;
  background-color: #0080a8;
  border-radius: 10px;
  width: 100%;
  height: 130px;
  z-index: 1;
  padding: 10px;
  transition: all ease 0.7s;
}

.details h5 {
  font-size: 1.1rem;
  margin: 1rem 0;
  text-align: center;
  color: #fff;
}

.details h5 .price {
  display: block;
  font-size: 1.1rem;
  /* padding-bottom: 5px; */
  color: #fff;
  font-weight: 700;
}

.card:hover .details {
  bottom: 0;
}

.details button {
  position: absolute;
  right: 21%;
  width: 110px;
  height: 28px;
  font-size: 13px;
  font-weight: 700;
  color: #0080a8;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.details button:hover {
  background: #000;
  color: #fff;
  transform: translate(0, -20%);
  transition: all 0.3s ease-in-out;
}

.details button:focus {
  outline: none;
  border: none;
}

.spinner-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
